.env
protected
**/__pycache__
output.log
**/output
label.txt
model.h5
predict_colab.py
script.py
**/test-folder
**/gan-model
**/stanford-parser-4.0.0
**/frames-gen
video.mp4
**/static/video.webm
**/all-frames-gen/
**/resized-newtrain/