body{
	background-image: url('bg.png');
	margin: 0 10px;
}

h3{
	display: inline-block;
}

video{
	width: 100%;
	border-radius: 20px;
	border: 2px solid;
}

#recording{
	display: block;
	text-align: center;
	margin-top: 10px;
}


.login{
	display: inline-block;
	float: right;
	margin-top: 10px;
}
#root{
	display: block;
}
#chat-scroll{
	margin-top: 10px;
	position: relative;
	overflow: hidden;
}
#chat{
	border: 1px solid;
	border-radius: 10px;
	overflow-y: scroll;
	min-height: 358.317px;
	max-height: 700px;
	padding: 10px;
	background-color: white;
}
#chat-input{
	width:100%;
}
.center{
	background-color: whitesmoke;
}
#vid2{
	display:none;
	width: 30%;
	margin: 10px auto;
}
button{
	border-radius:10px;
	border:1px solid;
	background-color: white;
}
button:active{
	border-radius:10px;
}
#btnStart:hover, #btnStart:active, #btnSubmit:hover, #btnSubmit:active, #btnRec:hover, #btnRec:active{
	background-color: black;
	color: white;
}
#btnStop, #join_leave{
	background-color: white;
	color: red;
}
#btnStop:hover, #btnStop:active, #join_leave:hover, #join_leave:active{
	background-color: red;
	color: white;
}

#count{
	display:block;
}

#cross{
    display: none;
    cursor: pointer;
    position: absolute;
    top: 110px;
    right: 32%;
    padding: 12px 16px;
    opacity: 1;
    transform: translate(0%, -50%);
}