body{
	background-image: url('bg.png');
}

h3{
	display: inline-block;
}

video{
	width: 100%;
}

#recording{
	display: block;
	text-align: center;
}


.login{
	display: inline-block;
	float: right;
	margin-top: 32px;
}
#root{
	display: block;
}
#chat-scroll{
	margin-top: 10px;
	position: relative;
	overflow: hidden;
}
#chat{
	border: 1px solid;
	border-radius: 10px;
	overflow-y: scroll;
	min-height: 358.317px;
	max-height: 700px;
	padding: 10px;
}
#chat-input{
	width:100%;
}